body{
  font: 16px/1.375 "tele2_textsans_regular",sans-serif;
  background-color: #F0F1F2;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2229;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

select {
  font: 100% "tele2_textsans_regular",sans-serif;
  margin-top: 12px;
  width: 150px;
  height: 27px;
}

input {
  text-align: center;
  font: 100% "tele2_textsans_regular",sans-serif;
  margin-top: 12px;
}

.schema-seats {
    font-size: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #a4ce36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.place {
  height: 36px;
  width: 36px;
  background-color: #8F9399;
}

.place-reserved {
  height: 36px;
  width: 36px;
  background-color: #D72F4B;
}

.place-content {
    font-size: 15px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 6px 20px;
    background: rgba(0,0,0,.8);
    color: #fff;
    opacity: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    z-index: 100000;
}

.place:hover .place-content {
    opacity: 10001;
}

.place-reserved:hover .place-content {
    opacity: 10001;
}

.header {
   height: 50px;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 99999;
}

.content {
  margin-top: 50px;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;

  &:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
    }
}

.block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    position:relative;
    img {
        display: block;
        border: none;
    }
}

#snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
  }

  #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
  }